version: '3.8'

services:
  # Development service
  siems-gov-dev:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${VITE_PORT:-3001}:${VITE_PORT:-3001}'
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
